asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
cachetools==2.1.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
gidgethub==2.5.0.post1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
requests==2.19.1
service-identity==17.0.0
six==1.11.0
treq==18.6.0
Twisted==18.7.0
-e git+https://github.com/markrwilliams/txghbot.git@1ccfc5a6e96b9769a21d50ec787b12ef31001d2b#egg=txghbot
unidiff==0.5.5
uritemplate==3.0.0
urllib3==1.23
zope.interface==4.5.0
